{% extends 'base.html' %}
{% load static %}
{% block page_title %}
<title>Delete Product</title>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h2>Welcome {{user.first_name}}</h2>
{% else %}
    <h2>Please login</h2>
{% endif %}
<h1>Delete Cart Product</h1>
<h3>Are you sure you want to delete cart product?</h3>
<a class='btn btn-primary' href="{% url 'cart:cart' user.id %}" role='button'>Cancel</a>
<a class='btn btn-danger' id='deleteCartProduct' role='button'>Confirm Delete</a>
<script type="text/javascript" src="{% static 'cart/delete_cart_product.js' %}"></script>
{% endblock %}