{% extends 'base.html' %}
{% load static %}
{% block page_title %}
<title>Cart</title>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="alert alert-success alert-dismissible fade show position-fixed" style="display:none; width: 300px; top: 10px; right: 20px;" role="alert" id="checkoutAlert">
        Product/s checkout successful!
    </div>

    <h1>Cart</h1>
    <div id="cartProductDisplay" class="row">

    </div>

    <button type="button" class="btn btn-dark" id="checkoutButton" value= {{request.user.id}}>Checkout</button>
{% else %}
    <h2>Please login to access this page.</h2>
{% endif %}



<script type="text/javascript" src="{% static 'cart/cart.js' %}"></script>
{% endblock %}