{% extends 'base.html' %}
{% load static %}
{% block page_title %}
<title>Marketplace</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock %}
{% block content %}
<header class="py-5 bg-light border-bottom mb-4">
  <div class="container">
      <div class="text-center my-5">
          <h1 class="fw-bolder">Products at reasonable prices!</h1>
          <h3>Marketplace</h3>
          <small>Django + AJAX </small>
      </div>
      <div class="row justify-content-center align-items-center">
          <div class="col-md-6">
              <form class="d-flex" role="search" id="search_products">
                  <div class="input-group">
                      <input class="form-control me-2 flex-grow-1" type="text" placeholder="Search Products" id="keyword">
                      <select class="form-select ms-2" aria-label="Search Type" id="searchType">
                          <option value="product">By Product</option>
                          <option value="category">By Category</option>
                      </select>
                      <button class="btn btn-outline-success ms-2" type="submit">Search</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</header>
<br>
<h3 id="resultHeader"></h3>

<div id="search-results" class="row row-cols-3 row-cols-md-3 g-4">
    
</div>

<div id="dataDisplay" class="row row-cols-3 row-cols-md-3 g-4">

</div>

<script type="text/javascript" src="{% static 'market/products.js' %}"></script>

{% endblock %}
