{% extends 'base.html' %}
{% load static %}
{% block page_title %}
<title>Marketplace</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock %}
{% block content %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Products at reasonable prices!</h1>
            <h3>Marketplace</h3>
            <small>Django + AJAX </small>
        </div>
        <div style="justify-content: center; align-items: center;">
            <form class="d-flex" role="search" id="search_products">
                <input class="form-control me-2" type="text" placeholder="Search Products" id="keyword">
                <div class="col-6 col-md-4 position-relative">
                    <select class="form-select" aria-label="Search Type" id="searchType">
                    <option value="product">By Product</option>
                    <option value="category">By Category</option>
                    </select>
                </div>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</header>

<h3 id="resultHeader"></h3>
<div id="search-results" class="row">
    
</div>

<div id="dataDisplay" class="row">

</div>

<script type="text/javascript" src="{% static 'market/products.js' %}"></script>

{% endblock %}