{% extends 'base.html' %}
{% load static %}
{% block page_title %}
<title>Change Password</title>
{% endblock %}
{% block content %}

{% if user.is_authenticated %}

  <div class="alert alert-success alert-dismissible fade show position-fixed" style="display:none; width: 300px; top: 10px; right: 20px;" role="alert" id="passwordSuccessAlert">
    Successfully changed password! Please login with your new password!
  </div>

  <div class="alert alert-danger alert-dismissible fade show position-fixed" style="display:none; width: 300px; top: 10px; right: 20px;" role="alert" id="passwordFailAlert">
    Error: Cannot change password, old password is wrong or password is too common!
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form id="changePasswordForm" novalidate style="border: 1px solid #ccc; padding: 20px; border-radius: 10px; margin-top: 50px;">
          <h3 class="text-center mb-4">Change Password</h3>
            <!-- Old Password input -->
            <div class="form-group">
              <label class="form-label" for="oldPassword">Enter Old Password:</label>
              <input type="password" id="oldPassword" class="form-control" />
              <div class="invalid-feedback">
                This field is required.
              </div>
              <p class="text-danger h6" id="oldPassError">  </p>
            </div>
          
            <!-- New Password input -->
            <div class="form-group">
              <label class="form-label" for="newPassword1">Enter New Password:</label>
              <input type="password" id="newPassword1" class="form-control" />
              <p class="text-danger h6" id="newPass1Error">  </p>
              <div class="invalid-feedback">
                This field is required.
              </div>
            </div>
          
            <!-- New Password Confirm Input -->
            <div class="fform-group">
              <label class="form-label" for="newPassword2">Confirm New Password:</label>
              <input type="password" id="newPassword2" class="form-control" />
              <p class="text-danger h6" id="newPass2Error">  </p>
              <div class="invalid-feedback">
                This field is required.
              </div>
            </div>
            <p class="fst-italic">Password should be 8 characters or more.</p>
            
            <div class="form-group text-left mt-4">
              <input type="submit" class="btn btn-primary mr-2" name="changePassword" value="Change Password">
              <button type="reset" name="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
      </div>
    </div>
  </div>

{% else %}
    <h2>Please login to access this page.</h2>
{% endif %}




<script type="text/javascript" src="{% static 'users/change_Password.js' %}"></script>
{% endblock %}