{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-md">
  <form id="changePasswordForm">
      <!-- Old Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="oldPassword">Enter Old Password:</label>
        <input type="password" id="oldPassword" class="form-control" />
      </div>
    
      <!-- New Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="newPassword1">Enter New Password:</label>
        <input type="password" id="newPassword1" class="form-control" />
      </div>
    
       <!-- New Password Confirm Input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="newPassword2">Confirm New Password:</label>
        <input type="password" id="newPassword2" class="form-control" />
      </div>

      <!-- Submit button -->
      {% comment %} <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button> {% endcomment %}
      <input type="submit" name="changePassword" value="Change Password">

  </form>
</div>


<script type="text/javascript" src="{% static 'users/change_Password.js' %}"></script>
{% endblock %}